%h1 CableTeam
%p Welcome, #{current_user[:name]}!
.pure-g
  .pure-u-1-2
    %h2 Documents
    = render "documents/list"
    = link_to "New Document", new_document_path, :class => "pure-button pure-button-primary"